SSHGUARD_OPTS="{{ sshguard_opts }}"
# Limit journalctl output to the sshd unit to avoid the attack of local users adding fake logs.
# This works better than using sshguard's -f option.
JOURNALCTL_OPTS="{{ sshguard_journalctl_opts }}"
